<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- include("navbar") %>  
    <h1><%= title %></h1>
    <% if(user) { %>
      <p>signed in</p>
    <% } else { %>
      <p>NOT signed in</p>
    <% } %>
  </body>
</html>
