<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sign up!</title>
</head>
<body>
    <a href="/">HOME</a>
    <h1>Sign Up</h1>
    <form action="" method="POST">
        <label for="first_name">first name</label>
        <input type="text" name="first_name" id="first_name" placeholder="bob">

        <label for="last_name">last name</label>
        <input type="text" name="last_name" id="last_name" placeholder="bee">
        
        <label for="username">Username</label>
        <input type="text" name="username" id="username" placeholder="usernameHERE">
        
        <label for="password">Password</label>
        <input type="password" name="password" id="password">
        
        <label for="passwordConfirmation">Confirm Password</label>
        <input type="password" name="passwordConfirmation" id="passwordConfirmation">

        <button>Sign Up</button>
    </form>

    <% if(errors) { %>
        <% console.log(errors) %>
    <% } %>
</body>
</html>